<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /temples/

  # Don't rewrite files or directories that exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite everything else to index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
